/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

hr {
  border: 0;
  border-top: 1px solid rgba(255,255,255,.2);
  margin: 20px 0;
}

/* Vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 20px;
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
}
.cover-heading {
  font-weight: 500;
  letter-spacing: -0.02em;
}
.lead {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 20px;
}
.lead > a {
  text-decoration: underline;
  border-bottom: 2px solid transparent;
}
.lead > a:hover,
.lead > a:focus {
  color: #FF8300;
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}

/*
 * Profile image
 */
.pic {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Nav links
 */
.masthead-nav {
  list-style: none;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  color: #1fb0ff;
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}

/*
 * Inline SVG icons
 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255,255,255,.5);
}

/*
 * Responsive
 */
@media (min-width: 768px) {
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .mastfoot,
  .cover-container {
    width: 100%;
  }
  .lead {
    font-size: 21px;
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
